@import './base/vars';
@import './base/mixins';

.suppliers {
  width: 100%;
}

.suppliers-title {
  margin-bottom: 50px;
}

.suppliers__slider {
  width: 100%;
  overflow: hidden;
}

.suppliers__wrapper {
  display: flex;
}

.suppliers-img {
  position: relative;
  text-align: center;
}